:root {
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;
    --font-size-base: 1rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2.5rem;
    --font-size-xl: 3.5rem;
    --primary-color: #3A5F7D; /* Mountain Blue */
    --secondary-color: #C0C0C0; /* Silver */
    --accent-color: #2E8B57; /* Forest Green */
    --neutral-color: #FFFFFF; /* White */
    --text-color: #3A5F7D; /* Mountain Blue for text */
    --btn-bg: #2E8B57;
    --btn-bg-hover: #297c4e; 
    --btn-color: #FFFFFF; /* White */
    --max-width: 1200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-2);
}

/* Header */
header {
    background: var(--primary-color);
    color: var(--neutral-color);
    padding: var(--space-2) 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: var(--font-size-xl);
}

.logo {
    width: 160px;
    height: auto;
    max-height: 100px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--space-2);
}

nav ul li a {
    color: var(--neutral-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--accent-color);
}


.hero {
    background: url('../images/hero-04.png') no-repeat center center/cover; /* Ensure this path is correct */
    color: var(--neutral-color);
    text-align: center;
    padding: var(--space-2); 
    min-height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about,
.services,
.testimonials,
.contact,
.packages,
.a-la-carte,
.tutorial {
    background: var(--neutral-color);
    text-align: center;
    padding: var(--space-3) 0;
}


.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
    margin-top: var(--space-2);
}

.feature {
    text-align: center;
    flex: 1 1 calc(25% - 20px); 
    box-sizing: border-box;
    max-width: 300px; 
}

.feature img {
    width: 100%; 
    height: auto; 
    max-width: 200px; 
    margin-bottom: 10px; 
}


.services {
    background: var(--primary-color);
    color: var(--neutral-color);    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-3) 0;
}

.service-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px;
}

.service-content .text {
    flex: 1;
    padding: 20px;
}

.service-content .image {
    flex: 1;
    padding: 20px;
}

.service-content .image img {
    max-width: 100%;
    height: auto;
}

/* Media query to stack items in a column when viewport height is too small */
@media (max-height: 600px) {
    .service-content {
        flex-direction: column;
    }

    .service-content .text,
    .service-content .image {
        max-width: 100%;
        padding: 10px;
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .feature {
        flex: 1 1 calc(50% - 20px); 
    }

    .feature img {
        max-width: 80px; 
    }
}

@media (max-width: 480px) {
    .feature {
        flex: 1 1 100%; 
    }

    .feature img {
        max-width: 60px; 
    }
}

.services .btn,
.contact-form .btn {
    background: var(--accent-color);
    color: var(--neutral-color);
    padding: var(--space-1) var(--space-2);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn {
    transition-duration: 0.4s;
}

.btn:hover {
    background: var(--btn-bg-hover);
    color: var(--btn-color);
}


.testimonials {
    background: var(--neutral-color);
    text-align: center;
    padding: var(--space-3) 0;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
}

.testimonial {
    background: rgba(255, 255, 255, 0.8); /* Optional: Adding a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adding a box shadow */
    border-radius: 8px; /* Optional: Adding rounded corners */
    padding: var(--space-2);
    flex: 1 1 calc(33% - var(--space-2)); /* Flex properties to handle responsive design */
    box-sizing: border-box;
    max-width: 300px; /* Optional: Adjust the max width as needed */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .testimonial {
        flex: 1 1 calc(50% - var(--space-2)); /* Two columns on smaller screens */
    }
}

@media (max-width: 480px) {
    .testimonial {
        flex: 1 1 100%; /* Stack vertically on very small screens */
    }
}

.contact {
    background: var(--primary-color);	
    color: var(--neutral-color);
}

.contact-content {
    text-align: center;
}

.contact-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-3);
}

.contact-info, .contact-form {
    flex: 1;
    padding: var(--space-2);
    background-color: var(--primary-color); /* Optional: Adding a background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adding a box shadow */
    border-radius: 8px; /* Optional: Adding rounded corners */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.contact-form input, .contact-form textarea {
    padding: var(--space-1);
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background: var(--accent-color);
    color: var(--neutral-color);
    padding: var(--space-1) var(--space-2);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background: var(--btn-bg-hover);
    color: var(--btn-color);
}

/* Responsive styling */
@media (max-width: 768px) {
    .contact-columns {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .contact-form {
        max-width: 100%;
    }
}

footer {
    background: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: var(--space-2) 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin: 0;
}

.social-icon {
    color: var(--neutral-color);
    font-size: 1.5rem; /* Adjust size as needed */
    margin-left: var(--space-2); /* Spacing between text and icon */
    transition: color 0.3s;
}

.social-icon:hover {
    color: var(--accent-color);
}

/* Responsive typography */
h1,
h2,
h3 {
    line-height: 1.2;
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

p {
    font-size: var(--font-size-base);
    margin-bottom: var(--space-2);
}

@media (min-width: 768px) {
    p {
        font-size: calc(var(--font-size-base) * 1.125);
    }
}

@media (min-width: 1024px) {
    p {
        font-size: calc(var(--font-size-base) * 1.25);
    }
}

.highlight {
    color: var(--accent-color);
}

/* Utility classes */
.u-margin-top-small {
    margin-top: var(--space-1);
}

.u-margin-top-medium {
    margin-top: var(--space-2);
}

.u-margin-top-large {
    margin-top: var(--space-3);
}

.u-text-center {
    text-align: center;
}
